<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TP6 - Lerner-Frankowski-Denenberg 🙁😖😔🥱😝🤑😦😨😬🥺</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            
    <nav>
			<ul class="nav">
				<li class="item"><a href='@Url.Action("Index")'><img class="img" src="/img/arg.png" alt=""></a></li>
				<li class="item"><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
				<li class="item"><a href='@Url.Action("Creditos")'>Creditos</a></li>
			</ul>
    </nav>
        </header>
        <div style="padding:20px 10px 0px 10px;">
            @RenderBody()
        </div>
    

        <footer>
                &copy; @DateTime.Now.Year - Los chilenos - 
				
        </footer>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
