<img src= "/img/@ViewBag.Candidato.Foto"  style="width:20%">


<p>@ViewBag.Candidato.Nombre @ViewBag.Candidato.Apellido</p>


<p>Fecha de Nacimiento: @ViewBag.Candidato.FechaNacimiento</p>
<p>Postulación: @ViewBag.Candidato.Postulacion</p>

<a href='@Url.Action("VerDetallePartido", new{idPartido=@ViewBag.Candidato.IdPartido})'>volver al partido</a>
